<p class="text-sm font-normal text-gray-500 dark:text-gray-400"><time datetime="YYYY-MM-DDThh:mm:ssTZD"></time></p>
            <ul class="my-4 space-y-3">
                <li>
                    <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                        <span class="flex-1 ml-3 whitespace-nowrap">hi</span>
                    </a>
                </li>  
            </ul>
